body{
    background-image: url("../../Projecten/Assets/Hoeselt.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    height: 784px;
    background-size: cover;

}
.Tittle{
    text-align: center;
}