body {
    background-image: url("../../Projecten/Assets/Hoeselt.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    color: black;
    background-attachment: fixed;
    overflow: hidden;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 1px;
    margin-right: 80px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;

}
ul li.EersteActief a {
    background-color: #fff;
    color: #000;
}

#Row1{
    float: left;
    padding: 20px;
    margin-bottom: 25px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;

}

#Row2{
    float: left;
    padding: 20px;
    margin-bottom: 25px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
}
.Foto1{
    opacity: 0.5;
}

.Foto1:hover{
    opacity: 1.0;
}
.Foto2{
    opacity: 0.5;
}

.Foto2:hover{
    opacity: 1.0;
}
.Foto3{
    opacity: 0.5;
}

.Foto3:hover{
    opacity: 1.0;
}
.Foto4{
    opacity: 0.5;
}

.Foto4:hover{
    opacity: 1.0;
}

.Fotos1{
    opacity: 0.5;
}
.Fotos1:hover{
    opacity: 1.0;
}
.Fotos2{
    opacity: 0.5;
}
.Fotos2:hover{
    opacity: 1.0;
}
.Fotos3{
    opacity: 0.5;
}
.Fotos3:hover{
    opacity: 1.0;
}
.Fotos4{
    opacity: 0.5;
}
.Fotos4:hover{
    opacity: 1.0;
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68px;
}

.EindStuk{
    color: white;
    text-align: center;
    background-color: black;
}